body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

main {
    display: grid;
    padding: 0;
    margin: 0;
}

.contentContainer {
    display: block;
    width: 100%;
    max-width: var(--container-maxwidth);
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: transparent;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 40px;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: var(--back-to-top-bg-color);
    color: var(--white);
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0px 2px 5px var(--back-to-top-shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top:hover {
    background-color: var(--back-to-top-hover-bg-color);
}

.project-title {
    color: var(--project-theme);
    font-size: var(--font-size-projectTitle);
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 50px;
    text-align: center;
}

.project-overview {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--project-theme);
    font-size: var(--font-size-large);
    text-align: center;
}

.section-even {
    background-color: var(--even-section-bg-color);
}

.section-odd {
    background-color: var(--odd-section-bg-color);
}

.spaceholder {
    height: 1px;
    margin: 10px 0;
}

/* ====================================== */
/* =============== Layout  ============== */

.h1-section-heading {
    margin-bottom: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    color: var(--project-theme);
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-medium);
    line-height: 34px;
    text-transform: none;
}

h2 {
    margin-bottom: 20px;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--project-theme);
}

h2.h2-center {
    text-align: center;
}

h3 {
    color: var(--project-theme);
    font-size: var(--font-size-body);
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: var(--font-weight-bold);

}

h3.h3-center {
    text-align: center;
}

h3.h3-list {
    padding-bottom: 5px;
    font-weight: var(--font-weight-bold);
}

h4 {
    color: var(--project-theme);
    font-size: var(--font-size-body);
}

.paragraph-light {
    display: inline-block;
    padding-right: 0px;
    opacity: 1;
    color: var(--primary-text-color);
    font-size: var(--font-size-body);
    line-height: 30px;
    text-align: left;
}

.paragraph-light-left {
    padding-right: 20px;
}

.paragraph-light-center {
    display: block;
    text-align: center !important;
}

.annotation {
    font-family: var(--font-family-annotation);
    color: var(--secondary-text-color);
    font-size: var(--font-size-annotation);
    line-height: 15px;
}

.hardware .annotation {
    color: var(--project-theme);
    text-align: center;
}


.emphasise {
    display: block;
    overflow: visible;
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-regular);
    line-height: 40px;
    font-style: italic;
    text-align: center;
}

/* ====================================== */
/* =============== Layout  ============== */

.challenge {
    margin-top: 100px;
}

.goal.row {
    padding-bottom: 30px;
}

.row-large-gap {
    margin-bottom: 30px;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-1 {
    width: 8.33%;
}

.w-col-10 {
    width: 83.33%;
}

/* ====================================== */
/* =============== Image  =============== */

.hero-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.content-img {
    padding-bottom: 30px;
    max-width: 100%;
    margin: auto;
    display: block;
}

.content-img-shadow {
    height: 150px;
    width: 300px;
    margin: auto;
    padding-top: 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 var(--content-image-shadow);
}

.challenge-img {
    max-width: 100%;
    max-height: 500px;
}

.fifty-img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* ====================================== */
/* =========== Persona Tabs  ============ */

.nav-item .nav-link.active {
    color: var(--project-theme);
}

.nav-item .nav-link {
    color: var(--primary-text-color);
}

.tab-content {
    padding-top: 30px;
}

.persona {
    display: flex;
}

.persona-img {
    width: 100%;
}

.persona-name {
    color: var(--project-theme);
    text-align: center;
}

.persona-info {
    text-align: center;
    align-items: flex-start;
}

/* =============================== */
/* ====== Bootstrap Carousel ===== */

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators {
    top: 100%;
}

/* ============================= */
/* ====== Body Text Format ===== */

.bold-text {
    font-weight: var(--font-weight-bold);
}

.italic-text {
    font-style: italic
}

.center-text {
    text-align: center;
}

.bullet-heading {
    color: var(--project-theme);
    font-weight: var(--font-weight-bold);
    padding-bottom: 10px;
}

.persona-describe {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid var(--project-theme);
    border-radius: 10px;
}

.paint-point-group {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    text-align: center;
}

.sub-pain-point,
.pain-point-details {
    color: var(--primary-text-color);
    text-align: center;
}

@media (min-width: 1080px) {
    .back-to-top {
        right: calc(50% - 540px + 40px);
        /* Half of 1080px */
    }
}

/* Tablet */
@media (min-width: 375px) and (max-width: 768px) {
    .hero-img {
        width: 100%;
        height: auto;
    }

    .persona-img {
        max-width: 30%;
        display: block;
        margin: 0 auto;
    }

    .challenge {
        margin-top: 20px;
    }

    .challenge-img {
        max-width: 30%;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .fifty-img {
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-mockup-img {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile */
@media (max-width: 375px) {
    .hero-img {
        min-width: 500px;
    }

    .persona-img {
        max-width: 30%;
        display: block;
        margin: 0 auto;
    }

    .challenge-img {
        max-width: 30%;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .fifty-img {
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-mockup-img {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}