/* header and navigation */
body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    /* line-height: 28px; */
    font-weight: 400;
}

header {
    background-color: white;
    align-items: center;
    height: max-content;
    padding: 0px 0px;
}

.container {
    max-width: 1080px;
    margin: auto;
}

/* main body */

.body-container {
    flex-direction: column;
    /* max-width: 1440px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.contentContainer {
    display: block;
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: transparent;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    display: flex;
    max-width: 100%;
    height: auto;
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.content-img {
    /* padding-top: 30px; */
    padding-bottom: 30px;
    max-width: 100%;
    margin: auto;
    display: block;
}


/* slogan */
.text-selfIntro {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-selfIntro p {
    display: inline-block;
    font-family: "Sue Ellen Francisco";
}

.text-selfIntro .name,
.text-selfIntro .num,
.text-selfIntro .title {
    font-size: 36px;
}

.text-selfIntro .num {
    color: #FF5C00;
}

.text-about p {
    display: flex;
    flex-direction: column;
    font-family: "Sue Ellen Francisco";
    font-size: 36px;
}

.paragraph-light {
    display: inline-block;
    padding-right: 0px;
    opacity: 1;
    color: #000;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

/* icon set */

.logo {
    width: 36px;
    height: 36px;
}

.icon-selfIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.icon-selfIntro img {
    width: 24px;
}

.icon-list {
    list-style-type: none;
    display: flex;
}

.icon-list li {
    margin-right: 20px;
    margin-left: 20px;
}

.icon-list li i {
    cursor: pointer;
}

/* cards */

.card-img-top {
    padding-bottom: 20px;
    border-radius: 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 3;
}

.card:hover {
    background-color: #ff5e0005;
    border-color: #FF5C00;
    cursor: pointer;
}

.card a.stretched-link {
    z-index: 1;
    text-decoration: none;
}

.card:hover .badge-primary {
    background-color: #FF5C00;
    color: #ffffff;
}

.projects-container {
    max-width: 1080px !important;
}

.col-sm-6 {
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

.badge {
    display: inline-block;
    padding: .45em 1.5em;
    margin-right: 10px;
    font-size: 75%;
    font-weight: 700;
    border-radius: .15rem;
}

.badge-primary {
    color: #000000;
    background-color: #ff5e0039;
    border-width: 1px;
    /* border-style: solid; */
    /* border-color: #FF5C00; */
}

.project-badges {
    display: flex;
    flex-wrap: wrap;
}

/* Projects page */

.text-container {
    width: 100%;
    max-width: 1080px;
    padding-bottom: 20px;
}

.highlighted-text {
    font-size: 24px !important;
    font-weight: 700 !important;
    position: relative;
    display: inline-block;
    text-transform: none;
    margin-left: 20px;
}

.highlighted-text::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 10px;
    right: -10px;
    bottom: 0;
    background-color: #f4a261;
    z-index: -1;
}

/* about page */

/* button */

button.resume {
    background-color: #ffffff;
    border-color: #FF5733;
    color: #FF5733;
}

button.resume:hover {
    background-color: #FF5733;
    color: white;
}

/* Tablet */
@media (min-width: 375px) and (max-width: 768px) {
    .home-img {
        width: 100%;
        height: auto;
    }
}

/* Mobile */
@media (max-width: 375px) {
    .home-img {
        min-width: 300px;
    }
}