/* header and navigation */
body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

header {
    background-color: var(--primary-bg-color);
    align-items: center;
    height: max-content;
    padding: 0px 0px;
}

.container {
    max-width: var(--container-maxwidth);
    margin: auto;
}

/* main body */

.body-container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.contentContainer {
    display: block;
    width: 100%;
    max-width: var(--container-maxwidth);
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: transparent;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    display: flex;
    max-width: 100%;
    height: auto;
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.content-img {
    /* padding-top: 30px; */
    padding-bottom: 30px;
    max-width: 100%;
    margin: auto;
    display: block;
}


/* slogan */
.text-selfIntro {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-selfIntro p {
    display: inline-block;
    font-family: var(--font-family-intro);
}

.text-selfIntro .name,
.text-selfIntro .num,
.text-selfIntro .title {
    font-size: var(--font-size-Intro);
}

.text-selfIntro .num {
    color: var(--primary-highlight-color);
}

.text-about p {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-intro);
    font-size: var(--font-size-Intro);
}

.paragraph-light {
    display: inline-block;
    padding-right: 0px;
    opacity: 1;
    color: var(--primary-text-color);
    font-size: var(--font-size-body);
    line-height: 30px;
    text-align: left;
}

/* icon set */

.logo {
    width: var(--logo-width);
    height: var(--logo-height);
}

.icon-selfIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.icon-selfIntro img {
    width: 24px;
}

.icon-list {
    list-style-type: none;
    display: flex;
}

.icon-list li {
    margin-right: 20px;
    margin-left: 20px;
}

.icon-list li i {
    cursor: pointer;
}

/* cards */

.card-img-top {
    padding-bottom: 20px;
    border-radius: 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 3;
}

.card:hover {
    background-color: var(--secondary-bg-color);
    border-color: var(--primary-highlight-color);
    cursor: pointer;
}

.card a.stretched-link {
    z-index: 1;
    text-decoration: none;
}

.card:hover .badge-primary {
    background-color: var(--primary-highlight-color);
    color: var(--tertiary-text-color);
}

.projects-container {
    max-width: var(--container-maxwidth) !important;
}

.col-sm-6 {
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

.badge {
    display: inline-block;
    padding: .45em 1.5em;
    margin-right: 10px;
    font-size: 75%;
    font-weight: 700;
    border-radius: .15rem;
}

.badge-primary {
    color: var(--primary-text-color);
    background-color: var(--tertiary-highlight-color);
}

.project-badges {
    display: flex;
    flex-wrap: wrap;
}

/* Recommendation Card */

.recommendationCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 170px;
    overflow: hidden;
}
.recommendationCard img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.recommendationCard-body {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.card-title {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* Number of lines to show */
    line-clamp: 1; /* Number of lines to show */
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* Initial number of lines to show */
    line-clamp: 3; /* Initial number of lines to show */
}

.recommendationCard .tags {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* Number of lines to show */
    line-clamp: 1; /* Number of lines to show */
}

/* Projects page */

.text-container {
    width: 100%;
    max-width: var(--container-maxwidth);
    padding-bottom: 20px;
}

.highlighted-text {
    font-size: var(--font-size-xlarge) !important;
    font-weight: var(--font-weight-bold) !important;
    position: relative;
    display: inline-block;
    text-transform: none;
    margin-left: 20px;
}

.highlighted-text::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 10px;
    right: -10px;
    bottom: 0;
    background-color: var(--secondary-highlight-color);
    z-index: -1;
}

/* about page */

/* button */

button.resume {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-highlight-color);
    color: var(--primary-highlight-color);
}

button.resume:hover {
    background-color: var(--primary-highlight-color);
    color: var(--tertiary-text-color);
}

/* Tablet */
@media (min-width: 375px) and (max-width: 768px) {
    .home-img {
        width: 100%;
        height: auto;
    }
}

/* Mobile */
@media (max-width: 375px) {
    .home-img {
        min-width: 300px;
    }
}